@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 45, 45, 45;
  --background-start-rgb: 246, 245, 244;
  --background-end-rgb: 246, 245, 244;
  --background-rgb: 246, 245, 244;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 45, 45, 45;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
